<section>
   <div class="row" style="margin:0;">
    <div class class="col-md-9"  >
        <div class="login-panel panel panel-default">
 <div class class="col-md-9"  >
 <div class="text-align" style="margin-top:3px">
        <h3>{{roomName | titlecase}}|{{selectedRoomType | titlecase}}</h3>
		<h5>${{roomRate ? roomRate : '0'}} | {{roomSize ? roomSize : '0'}} Sq Ft</h5>
</div>
</div>
<hr>
<div class="panel-body">
  <div class="image-slider-container">
    <ng-image-slider #nav
                     [images]="imageObject"
                     [infinite]="false"
                     [autoSlide]="1"
                     [imageSize]="{width: '100%', height: '80%'}"
                     slideImage="1"></ng-image-slider>
  </div>
<!--  <img class="img-fluid" id="img-fluid" src="../assets/images/blueprint.jpg" alt="" > -->
</div>


</div>
</div>

<div class="col-md-3" style="border-right:1px solid #efefef;">

 <aside class="contactLead" id="contactLead" >



<div class="lead-form-container">

	<div id="inlineDlfWrapper" class="inlineDlfWrapper">
		<div class="contactLeadWrapper " id="contactLeadForm">
			<input id="DlfConfiguration" type="hidden" value="{&quot;DynamicLeadFormId&quot;:0,&quot;DynamicLeadFormType&quot;:0,&quot;ListingId&quot;:0,&quot;HasContactVia&quot;:false,&quot;HasMaxRent&quot;:false,&quot;HasBedsBaths&quot;:false,&quot;HasReasonForMoving&quot;:false,&quot;IsPhoneRequired&quot;:false,&quot;IsContactViaRequired&quot;:false,&quot;IsMaxRentRequired&quot;:false,&quot;IsBedsRequired&quot;:false,&quot;IsReasonForMovingRequired&quot;:false,&quot;HasOnlineScheduling&quot;:false,&quot;OnlineSchedulingProviderType&quot;:0}">
      <header class="property-title-header"  style="background-color: #20c997;height:30%;font-size:18px;position:relative;">
					<span id="ctn" class="contactPhone">Contact Property</span><br>
					<span id="ctn" class="contactPhone"><mat-icon>phone</mat-icon> 630-517-9382</span>
			</header>
      <header class="property-title-headers" style="top:5px;color:white;background-color: #ef3f3e;" >
        
          <span id="ctn" class="contactPhone">
            <button mat-button color="#ef3f3e" (click)="navigateToReserveRoom()">Book Now</button>
          </span>
        
      </header>
			<header class="property-title-headers">
				<h5>
					<span id="ctn" class="contactPhone" style="color: white; font-size: 16px;">Top 15</span>
				</h5>
			</header>
			<div id="contactForm" class="contactForm">
					<h5>Features</h5><br>
					<p>Air Condition</p>
						<p>Cable ready</p>
						<p>Heating</p>
			<hr>
	           <h5>Kitchen</h5><br>
					<p>Dishwasher</p>
						<p>Disposal</p>
						<p>Range</p>
			<hr>
			  <h5>Living Space</h5><br>
					<p>Carpet</p>
						<p>Dining Room</p>
						<p>Sunroom</p>
			<hr>
				 <div class="linkWrapper">
            <a href="http://www.tgmdanada.com/" title="View Property Website" rel="nofollow" class="js-externalUrl" target="_blank">
                <span class="worldWideWebIcon"></span>
                <span>View Property Website</span>
            </a>
        </div>
			</div>
		</div>
	</div>
</div>
    </aside>
 </div>
 </div>
</section>
