.slide-3 {
 display: inline-block;
}
.home-content {
  top: 0px;
  position: absolute;
}

.header-right li a {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 900;
  line-height: 23px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 18px;
  letter-spacing: 0.07em;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.search-body {
  padding: 20px 10px 20px !important
}

.right-part{
  margin: 0px 25px 0px 0px!important;
}

@media(max-width:660px){
  .full-height{
    height:500px;
  }
}
@media(max-width:460px){
.example-full-width{
  width:85%;
}
}
